<head>
<link rel="stylesheet" href="/assets/estilos_changuito.css">
</head>
<div class="fixed-button">
<a href="/pedidos/<%=params[:pedido_id] %>"><i class="fa-solid fa-cart-arrow-down fa-bounce fa-2xl" style="color: #c39292;"></i></a>
    </div>
</div>
