<head>
<link rel="stylesheet" href="/assets/estilos_contacto.css">
    
    
</head>
<hr class="linea-superior">
<div class="contacto">

    <h2>Contacto</h2>
    <p>Síguenos en nuestras redes sociales:</p>
    <ul class="redes-sociales">
        <li><a href="https://www.instagram.com/ulahuacakes/?hl=es-la"><i class="fa-brands fa-instagram fa-sm" style="color: #990033; transition: transform 0.3s;">
        Ulahua Cakes</i></a></li>
    </ul>
    <p>Dirección: La Plata</p>
    <p>Teléfono: Tu número de teléfono aquí</p>
    <!-- Agrega más información de contacto si es necesario -->
</div>
