<%= image_tag "cami2.png", title: "Logo", class: "logo", style: "max-width:100%;width:auto;height:auto;"%>
      
<div>
    <h1>Bienvenido a la pagina web de Ulhaua cakes </h1>
    <h2>Comencemos tu pedido</h2>
    <h2>Todos los pedidos deben hacerse con un minimo de 48hs de anticipacion!</h2>
    <%= link_to "Hacer Pedido", '/pedidos/new', class: 'btn btn-default btn-sm'%>

    <%= link_to "changuito", '/stores/show', class: 'btn btn-default btn-sm'%>

     
    <h4>Es un plan público, gratuito y optativo de vacunación en La Plata. </h4>
    <h4>Se encarga de la distribución, organización y vacunación de todos los municipios del territorio platense.</h4>  

    <p>El objetivo es cuidar a la población disminuyendo y evitando los efectos que traen las enfermedades del Covid-19, la fiebre amarilla y la  gripe.jsdbkbcdksjbckjsdbckjsdbckjsbdcjbdsk
    sdc sdcn mdnc mnsdcdscdsvsdvdsvsdfsfsdfSdfsd
    sdfsdfsd    fsdf    sdfsdfsds    df    sdfsdfsds   df    sdf    s    df    sdf    ds    f    dsf    ds    ds    fsdfs    fsdffd    d    fsdfdsfsdfsdfsdfsdf dsfd fsdfsdfdsfd
    </p>
    

   
</div>