<link rel "stylesheet" href="estilos_home.css">
<%= image_tag "cami2.png", title: "Logo", class: "logo", style: "max-width:100%;width:auto;height:auto;"%>
      
<div>
    <h1>Bienvenido a la pagina web de Ulhaua cakes </h1>
    <h2>Comencemos tu pedido</h2>
    <h2>Todos los pedidos deben hacerse con un minimo de 48hs de anticipacion!</h2>

    <a href='/pedidos/new'class="boton"> Hacer pedido</a>
    <a href='/stores/show'class="boton"> Changuito</a>
    <a href='https://wa.me/2213648266?text=hola probando' class="boton2">WSP</a>
    <h4> </h4>
    <h4></h4>  

    <p> </p>
    

   
</div>