/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .fadein{
   animation: fadein 2s;
 }
 .fadeout{
   animation: fadeout 1s;
 }
 @keyframes fadein{
   from {opacity: 0;}
   to {opacity: 1;}
 }
 @keyframes fadeout{
   from {opacity: 1;}
   to {opacity: 0;}
 }



 /* Define una clase para la animación de desplazamiento hacia la izquierda */
.slide-left {
   animation: slideLeft 1s ease-in-out forwards;
}

/* Define los keyframes para la animación de desplazamiento hacia la izquierda */
@keyframes slideLeft {
   0% {
       transform: translateX(100%);
   }
   100% {
       transform: translateX(0%);
   }
}

body {
   background-image: url('Fondo3.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
    }

    @import "bootstrap";
    @import "carousel";

