figure{
    display: inline-block;
    position: relative;
    overflow: hidden;
}

figcaption{
    color: white;
    transition: all 0.3s;
    background: linear-gradient(rgba(255,255,255,0),black);
    position: absolute;
    left: 0px; 
    bottom: -150px; 
    width: 90%;
    padding: 3%;
    
}
figure:hover figcaption{
    bottom: 0px; 
}

.contenedor{
    background: #f1dcda;
    /*margin-left: auto;
    margin-right: auto;*/
   
    /*width: 35%; */
    /*padding-left: 20px;
   margin: 0 auto;*/
   margin: auto;
   padding-left: 0;
   width: 100%;
   max-width: 800px;
   overflow: hidden;
   min-width: 420px;    
}

.lista{
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.prueba input {
    width: 45px;
    height: 42px;
    line-height: 1.65;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid rgb(207, 173, 173);
  }
  input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}
  
  /* Media query para dispositivos móviles */
@media screen and (max-width: 480px) {
    .container {
      padding: 0px; /* Ajusta el espacio interno en dispositivos móviles*/
    }
}

.cantidad {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #cc4351;
  border-radius: 5px;
  background: white;
}
