*{margin:0;padding:0}

body{
   
}
* {}
header .logo{
    float:left;
    height:200px;
    width:200px;
    min-width: 50px;
    min-height: 50px;
    max-width: 250px;
    max-height: 250px;
    font-size: 50px;
    line-height: 200px;
}
header{
    widht: 50%;
    overflow: hidden;
    background: #d3b6b2;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
ul, ol{
    list-style:none;
}
.nav li a {
    background-color: #df7da1;
    color: #fff;
    text-decoration: none;
    padding:10px 15px;
    display:block;

}

.nav > li{
    float:left;
}
.nav li a:hover{
    background-color: #cc4351;
}
.nav li ul{
    display:none;
    position:absolute;
    min-width: 140px;
}

.nav li:hover > ul{
    display: block;
}
/* Media query para dispositivos móviles */
@media screen and (max-width: 480px) {
    .container {
      padding: 10px; /* Ajusta el espacio interno en dispositivos móviles */
    }
}
