body {
  margin: 0;
  padding: 0;
}
figure{
    display: inline-block;
    position: relative;
    overflow: hidden;
}

figcaption{
    color: white;
    transition: all 0.3s;
    background: linear-gradient(rgba(255,255,255,0),black);
    position: absolute;
    left: 0px; 
    bottom: -150px; 
    width: 100%;
    padding: 3%;
    
}
figure:hover figcaption{
    bottom: 0px; 
}

.contenedor{
    background: #FFEFEC;
    /*margin-left: auto;
    margin-right: auto;*/
   
    /*width: 35%; */
    /*padding-left: 20px;
   margin: 0 auto;*/
   margin: auto;
   padding-left: 0;
   width: 100%;
   max-width: 800px;
   overflow: hidden;
   min-width: 0px;    
   box-shadow: 0px 20px 40px 10px rgba(159, 83, 83, 0.729); 

}
.tablaCantidad {
    display: none;
    opacity: 0; /* Inicialmente transparente */
    transform: translateY(20px); /* Desplazamiento hacia arriba */
    transition: opacity 0.5s ease;
    text-align: left;
    clear: left;
}

.lista{
  

  
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}


.prueba input {
    width: 45px;
    height: 42px;
    line-height: 1.65;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid rgb(207, 173, 173);
  }
  input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}
  
  /* Media query para dispositivos móviles */
@media screen and (max-width: 480px) {
    .container {
      padding: 0px; /* Ajusta el espacio interno en dispositivos móviles*/
    }
      .contenido {
        flex-direction: column; /* Cambia la dirección del contenido a columna */
        text-align: center; /* Centra el contenido en dispositivos móviles */
     
      }
    
      .imagen,
      .descripcion {
         display: flex;
        flex-direction: column;
        align-items: center; /* Centra horizontalmente en el centro */
        margin-right: 0px; /* Anula el margen derecho en dispositivos móviles */
        margin-left: 20px;
      }
    
}

.cantidad {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #cc4351;
  border-radius: 5px;
  background: white;
}

.torta{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  
}

.contenido {
  display: flex;
  justify-content: space-between;
  
}

.imagen {
  flex: 1;
  text-align: left;
  transition: opacity 0.5s ease; /* Mantén solo la transición de opacidad */
  left: 0;
  position: sticky; /* Fija la posición */
  top: 0; /* Coloca la imagen en la parte superior del contenedor */
  z-index: 1; /* Asegura que la imagen esté encima de la tabla de cantidades */
  margin-right: 1.3em;
}

.descripcion {
  flex: 2;
  text-align: right;
  opacity:1; /* Inicialmente transparente */
  transform: translateY(-20px); /* Desplazamiento hacia arriba */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Transición suave */
}
.imagen.encoger {
  transform: scale(0.9); /* Reduce el tamaño de la imagen al 90% */
  transition: transform 0.5s ease; /* Agrega una transición suave para el escalado */
}
.imagen.agrandar {
  transform: scale(1); /* Reduce el tamaño de la imagen al 90% */
  transition: transform 0.5s ease; /* Agrega una transición suave para el escalado */
}
.mostrar {
  opacity: 1; /* Hace que la descripción sea visible */
  transform: translateY(0); /* Desplazamiento hacia abajo */
  margin-right: 1em; /* Restaura el margen derecho cuando la descripción se muestra */
  
}

.botonT{
  margin-bottom: 0px;
  padding: 10px 20px;
  background-color: #990033;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin: 0px ; /* Establece el margen horizontal automáticamente para centrar */
  text-align: center; /* Centra el texto dentro del botón */
  margin-bottom: 0px;
  float: left;
}
.contenido_inv {
  
  background-color: rgba(215, 168, 135, 0.35); /* Color D7A887 con 50% de opacidad */
 
}
@media screen and (min-width: 768px) {
  .contenido_inv {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(215, 168, 135, 0.35); /* Color D7A887 con 50% de opacidad */
    margin-bottom: 10px;

  }
  .contenido{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    margin-bottom: 10px;
    
  }

  .imagen {
    order: 2; /* Cambia el orden de la imagen a la derecha */
    margin-left: 15px;
  }

  .descripcion {
    order: 1; /* Cambia el orden de la descripción a la izquierda */
    padding-top: 15px;
   
  }

 
 

  
  
}
.precio-label {
  display: inline;
}