// Place all the styles related to the pedidos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    background-color: #ebcac6;//#d3b6b2;
    color: #333;
    margin: 33px; }