<head>
    <link rel "stylesheet" href="estilos.css">
</head>
<header >
    <div class= "wrapper">
        <div class>  
            <%= link_to '/pedidos#index', class: 'navbar-brand' do %>
                <%= image_tag "logo.png", title: "Logo", class: "logo"%>
            <%end%>
        </div>
        <nav>
            <a href= '/pedidos#index'> Inicio </a>
            <a href= '/contactos#show'> ¿Quienes somos? </a>
            <a href= '/contactos#index'> Contacto </a>
        </nav>
    </div>
</header>